*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney",sans-serif;
}

.container{
    width: 75%;
    margin: auto;
}

img{
    width: 100%;
}

/* Layout colonne */

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */
header{
    background-color: #255ee8;
}

nav{
    text-align: center;
    line-height: 80px;
    height: 80px;
}

nav .col-logo, .col-login{
    width: 15%;
}

.logo{
    vertical-align: middle;
    background-size: cover;
}

nav .col-nav{
    width: 70%;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}

nav li a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
}

/* Bottoni */

.btn{
    border-radius: 40px;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.btn-small{
    font-size: 13px;
    padding: 7px 14px;
}

.btn-large{
    padding: 14px 20px;
}

.btn-white{
    color: black;
    background-color: white;
}

.btn-black{
    color: white;
    background-color: #23272a;
}    

.btn-blue{
    background-color: #8ea0e1;
    color: white;
}

/* Main Top*/

.main-top{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-top-text{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 300px 0;
    color: white;
}

.main-top-text h1{
    margin-bottom: 30px;
    font-size: 50px;
}

.main-top-text p{
    line-height: 1.6;
}

.main-top-btn a{
    margin: 30px 10px;
}

.arrow{
    font-weight: bold;
}

/* Main colonne */
.main-colonne{
    padding: 100px 0;
}

.grey{
    background-color: #f6f6f6;
}

.col-img{
    width: 72%;
}

.col-text{
    width: 28%;
}

h2{
    font-size: 40px;
    line-height: 1.4;
    margin-top: 20px;
}

p{
    line-height: 1.7;
    padding-top: 20px;
}

.textfinale{
    text-align: center;
}

.stars{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}

main h3{
    display: inline-block;
    background-image: url(../img/stars.svg);
    padding: 25px;
    font-size: 25px;
}

.bottone-blu{
    text-align: center;
}

/* Footer */

footer{
    background-color: #23272a;
}

.col-lingua{
    width: 30%;
}

.col-prodotto, .col-compagnia, .col-risorse, .col-norme{
    width: calc(70% / 4);
}

/* Colonna bandiera */

footer h3{
    color: #6e84d2;
    font-size: 23px;
}

.lingua{
    padding: 12px 0;
    color: white;
}

.bandiera{
    height: 10px;
    width: auto;
}

.ita{
    font-size: 12px;
}

.icone{
    color: white;
    padding: 10px 12px 0 0;
}

/* Colonne Lista */

.titolino{
    color: #6e84d2;
    font-size: 13px;
    font-weight: 800;
    padding: 0 0 15px;
}

footer ul{
    list-style-type: none;
}

footer li a{
    display: inline-block;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 13px;
    padding: 8px 0;
}

.padd{
    padding: 80px 0;
}

footer .logo{
    width: 15%;
}

/* Parte finale footer */

.ultima-riga{
    margin-top: 10px;
    border-top: 1px solid #303849;
    padding: 20px 0;
}

.col-left{
    width: 80%;
}

.col-reg{
    width: 20%;
    text-align: right;
}